@model int


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tickets.</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="container">
        <div class="row">


            <h4>Sorry, you dont have persmission to perfom this action.</h4>
            @Html.ActionLink("Back to main", "Index", "Projects")
        </div>
    </div>
</div>