.checkbox {
    padding-left: 20px;
}


.table-ul {
    list-style: none;
}

.table-btn {
    margin-top: 10px;
}

.extra-pad {
    padding: 20px;
}

.extra-pad-left {
    padding-left: 20px;
}

.extra-mar-left {
    margin-left: 20px !important;
}

.extra-mar-top {
    margin-top: 10px !important;
}

